{% extends 'base.html' %}

{% block basecontent %}
<h1>Comments</h1>

<ul>
  <li><em>It's generating names that are much too ornate for my English blood</em> &mdash; T.H.</li>
  <li><em>I am now Valene Mompson.</em> &mdash; D.H.</li>
  <li><em>Not a Buckaroo Banzai fan (<a href="http://goo.gl/0Nz4s">http://goo.gl/0Nz4s</a>)? No problem. <a href="http://gplus.to/andre.laszlo">+André Laszlo</a> has you covered.</em> &mdash; P.H.</li>
  <li><em>It gave me Dong Schafingladworthier. Been nice knowing you all.</em> &mdash; C.B.</li>
</ul>
{% endblock basecontent %}
